/*
#header #e66d04
#body #572b78
#bodyLeft #eb7b0d
#button #7d66aa
*/



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
    font-family: 'Bebas Neue Book', Arial, Helvetica, sans-serif;
    background-color: #572b78;
    letter-spacing: 10px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.header {
    background: #e66d04;
    padding-left: 3rem;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-container {
    display: flex;
    letter-spacing: 3px;
}

.right {
    background: white;
    border-radius: 45px 0px 0px 45px;
    padding-left: 45px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.btn-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7d66aa;
    border-radius: 45px 0px 0px 45px;
    color: white;
    width: 190px;
    text-decoration: none;
}

.btn-right>div {
    padding: 2px 15px;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 20px;
}

.btn-right>div:hover {
    background: white;
    color: black;
    border: white;
}

.logo>img {
    margin-right: 20px;
}


.content {
    display: flex;
}

.main-content {
    width: 50%;
}

.title {
    font-size: 4.8vw;
    font-weight: 900;
    margin-top: 4vw;
    color: white;
    text-shadow: 0px 0px 2px black;
    background: linear-gradient(85deg, rgb(231 165 99) 0%, rgba(235, 123, 13, 1) 41%);
    border-radius: 0px 45px 45px 0px;
    position: relative;
}

.title>div {
    background: repeating-linear-gradient(45deg, rgb(0 0 0 / 0%), rgb(0 0 0 / 0%) 2px, rgb(230 109 4 / 79%) 5px, rgb(230 109 4 / 78%) 25px);
    padding: 25px;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    border-radius: 0 45px 45px 0;
}

.arrow svg {
    transform: rotate(180deg);
    height: 7vw !important;
    width: 7vw !important;
}

.arrow {
    position: absolute;
    top: 0;
    right: -16vw;
    margin: 10px 0;
}

.arrow>svg:nth-child(2) {
    position: relative;
    left: -4vw;
}

.arrow>svg:nth-child(3) {
    position: relative;
    left: -8vw;
}

.date>div h1 {
    font-size: 2.4vw;
    font-weight: bold;
}

.date>div {
    display: flex;
    flex: 1;
    color: rgb(232 114 10);
}

.date {
    display: flex;

}

.date>div h1:nth-child(1) {
    border-right: 1px solid;
    padding-right: 10px;
}

.date>div h1:nth-child(2) {
    padding-left: 10px;
}

.content-date {
    padding: 25px 2vw;
}

.date-container>div {
    font-family: 'Axiata';
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
}

.time span {
    font-size: 2vw;
    font-weight: bold;
}

.time {
    font-size: 1.5vw;
    font-weight: normal;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.online {
    font-size: 2vw;
    color: white;
    margin: 15px 0px;
}

.armory>img {
    width: 49vw;
}

.online {
    display: flex;
    align-items: center;
}

.online>svg {
    transform: rotate(-90deg);
}


.main {
    height: 90.5vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.online>img {
    width: 24vw;
}

a.date-container.button {
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

a.date-container.button>div {
    padding: 10px 35px;
    display: flex;
    align-items: center
}


.armory {
    width: 50%;
}

.main.registrasi .armory {
    width: 30%;
    background: #e77917;
    color: white;
}

.main.registrasi .main-content {
    width: 70%;
}

.main.registrasi .main-content > div {
    width: 70%;
    position: relative;
}

.registrasi .date>div {
    display: block;
}

.registrasi .date>div h1 {
    font-size: 2.8vw;
    border: 0;
}

.main.registrasi .armory > div {
    padding-top: calc(2.8vw + 20px);
    padding-right: calc(3vw + 20px);
    padding-left: calc(3vw + 20px);
}

.main.registrasi .armory > div h1 {
    font-size: 3.5vw;
    text-align: center;
    font-weight: bold;
    color: white;
}

.main.registrasi .armory form .input {
    width: 100%;
    padding: 10px;
    padding-right: 0px;
    padding-left: 0px;
    background: transparent;
    border: 0;
    color: white;
    font-size: 22px;
    border-bottom: 1px solid #fff;
}

.main.registrasi .armory form {
    margin-top: 3rem;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.main.registrasi .armory form > div {
    margin-bottom: 1rem;
}

.main.registrasi .armory form .input:focus {
    outline: none;
    color: white;
}

.main.registrasi input.input::placeholder {
    font-style: italic;
    font-weight: 100;
    font-size: 19px;
    color: #ffffffb0;
}

.main.registrasi .armory select {
    width: 100%;
    padding: 10px;
    padding-left: 5px;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    font-size: 18px;
    font-style: italic;
    color: white;
}

.main.registrasi .armory select:focus {
    outline: none;
}

.header.regis .btn-right {
    width: 25vw;
}

.main.registrasi .button {
    display: flex;
    justify-content: center;
}

.main.registrasi .button button {
    background: transparent;
    border: 2px solid #fff;
    padding: 5px 30px;
    border-radius: 40px;
    color: white;
    font-size: 1.2vw;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 800;
}

.title>div h1 {
    font-weight: 900;
}

.image {
    position: absolute;
    bottom: -20px;
    right: -25vw;
}

.image img {
    width: 36vw;
}

select option { color: black; }

@media only screen and (max-width: 1500px) {

    .content {
        flex: 1;
    }

    .main.registrasi .armory {
        width: 45%;
    }

}

@media only screen and (max-width: 780px) {
    .date>div h1:nth-child(1) {
        border: 0;
    }
    
    .date>div {
        display: block;
        text-align: center;
    }
    
    .main.registrasi .armory {
        width: 100%;
    }
    
    .main.registrasi .content {
        flex-direction: column;
        padding: 0;
    }
    
    .main.registrasi {
        height: 90.5vh;
    }
    
    .main.registrasi .armory > div {
        padding-top: calc(2.8vw + 20px);
        padding-right: calc(8vw + 20px);
        padding-left: calc(8vw + 20px);
    }
    
    .main.registrasi .main-content {
        width: 80%;
        margin: inherit;
        padding: 0 25px;
    }
    
    .main.registrasi .main-content > div {
        width: 100%;
    }
    
    .registrasi .date>div h1 {
        font-size: 8vw;
        text-align: left;
    }
    
    .main.registrasi .armory > div h1 {
        font-size: 10vw;
    }

    .content {
        flex-direction: column-reverse;
        padding: 25px 0px;
    }

    .main-content {
        width: 82%;
        margin: auto;
    }

    .armory {
        margin: auto;
    }

    .armory>img {
        width: 65vw;
    }

    .date-container>div {
        font-size: 8vw;
    }

    .time {
        font-size: 4vw;
    }

    .time span {
        font-size: 5vw;
    }

    .title {
        font-size: 7vw;
    }

    .online>img {
        width: 65vw;
    }

    .date>div h1 {
        font-size: 8vw;
        z-index: 99;
    }

    .arrow {
        position: absolute;
        top: 20px;
        right: -3vw;
        margin: 10px 0;
    }

    .header {
        padding-left: 1rem;
    }

    a.date-container.button>div {
        padding: 10px 35px;
        font-size: 5vw;
        display: flex;
        align-items: center;
    }

    .registrasi .content-date {
        padding: 20px 0;
        z-index: 999999;
        position: relative;
    }
    
    .image {
        bottom: 0;
        right: -14vw;
    }
    
    .image img {
        width: 50vw;
    }
    
    .title>div h1 {
        z-index: 99999;
    }
    
    .online>img {
        z-index: 9999;
    }
    
    .date {
        z-index: 999999;
    }
    
    .title>div {
        padding-left: 5vw;
    }
}